.my-svg-class {
    fill: currentColor;
  }
  
  .login-container{
    background-image: url('./assets/bg.png');
   
    background-position: center;

    
  }
  input:-webkit-autofill {
    -webkit-text-fill-color: white; /* Ensure autofill text is black */
    background-color: white !important; 
    transition: background-color 5000s ease-in-out 0s; /* Prevent flashing */
  }

  /* Optional: Apply the same for Firefox */
  input:-moz-autofill {
    color: black; /* Set autofill text color */
    background-color: white !important;
  }
  
/* Explicitly target scrollable elements */
.scrollable::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 9999px;
}

.scrollable::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.scrollable::-webkit-scrollbar-button {
  display: none;
}



